footer {
    font-size: 90%;
}
h1 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}
li {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
#avatar {
    min-width: 40px;
    min-height: 40px;
    max-width: 204px;
    max-height: 204px;
    float: right;
    padding: 10px;
    display: block;
}
.after-title {
    margin-bottom: 0.5rem;
}
.content-wrapper {
    min-height: 85vh;
}
.terms-single {
    font-size: 0.9em;
    text-align: center;
}
.terms-single span:nth-of-type(2)::before {
    content: "//";
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2430;
        color: white;
    }

    blockquote {
        background: #1f2430;
    }

    a {
        color: #ffd173;
    }

    header {
        background: #1f2430;
        border-bottom: 2px dotted #ffd173;
    }

    .article-meta,
    .menu a {
        background: #1f2430;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    blockquote {
        background: #f8f9fa;
    }

    a {
        color: #f2ae49;
    }

    header {
        background: white;
        border-bottom: 2px dotted #f2ae49;
    }

    header a {
        color: #f2ae49;
    }

    .article-meta,
    .menu a {
        background: #f8f9fa;
    }
}

/* For devices larger than a phablet */
@media (min-width: 550px) {
}

/* For devices smaller than a phablet */
@media (max-width: 550px) {
    .hide-on-mobile {
        display: none;
    }
}
