{{ define "main" }}
<div class="list-page">

  {{ if not .IsHome }}
  <header class="list-header">
    <h1 class="list-title">
      {{ if i18n .Title }}{{ i18n .Title }}{{ else }}{{ .Title | markdownify }}{{ end }}
    </h1>
    {{ $desc_key := printf "%s_desc" .Title }}
    {{ if i18n $desc_key }}
    <p class="list-desc">{{ i18n $desc_key }}</p>
    {{ else if .Description }}
    <p class="list-desc">{{ .Description }}</p>
    {{ end }}
  </header>
  {{ end }}

  {{ .Content }}

  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ $pages = where $pages "Section" "!=" "" }}

  {{ if $pages }}
  <ul class="entry-list">
    {{ range $pages }}
    <li class="entry-item">
      <a class="entry-title" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      <time class="entry-date" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "Jan 2006" }}
      </time>
    </li>
    {{ end }}
  </ul>
  {{ end }}

</div>
{{ end }}
