{{ define "main" }}
<div class="list-page">

  <header class="list-header">
    <h1 class="list-title">{{ i18n .Title | markdownify }}</h1>
    {{ $term_desc := printf "%s_desc" .Title }}
    {{ if i18n $term_desc }}
    <p class="list-desc">{{ i18n $term_desc }}</p>
    {{ end }}
  </header>

  <ul class="terms-list">
    {{ range .Data.Terms }}
    <li class="terms-item">
      <a class="terms-name" href="{{ absLangURL .Page.Permalink }}">{{ .Page.Title | markdownify }}</a>
      <span class="terms-count">{{ .Count }}</span>
      {{ $item_desc := printf "%s_desc" .Page.Title }}
      {{ if i18n $item_desc }}
      <span class="terms-desc"> &mdash; {{ i18n $item_desc }}</span>
      {{ end }}
    </li>
    {{ end }}
  </ul>

  <div class="list-footer">
    <a href="{{ absLangURL "/post" }}">{{ i18n "see_all_posts" }}</a>
  </div>

</div>
{{ end }}
