{{ partial "header.html" . }}

<div class="content-wrapper">
{{if not .IsHome }}
  {{ if i18n .Title }}
    <h1>{{ i18n .Title | markdownify }}</h1>
  {{ else }}
    <h1>{{ .Title | markdownify }}</h1>
  {{ end}}
{{ end }}

  {{ .Content }}

  <ul>
     {{ $pages := .Pages }}
     {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
     {{ range (where $pages "Section" "!=" "") }}
     <li>
       <span class="date">「{{ .Date.Format "Jan/08" }}」</span>
       <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
       {{ if .Description }}
       -
       {{ end }}
       <span class="desc">{{ .Description | markdownify }}</span>
     </li>
     {{ end }}
   </ul>
</div>
{{ partial "footer.html" . }}
